In [2]:
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os

In [4]:
# Load data from CSV
data = pd.read_csv('/Users/adamafaal-refaee/Desktop/Desktop-Win/codeing/projects/machine_learning/handmarks/data/high_5.csv')

col1 = data.iloc[:, 0]
col2 = data.iloc[:, 1]
col3 = data.iloc[:, 2]
col4 = data.iloc[:, 3]

"""print(col1)
print(col2)
print(col3)
print(col4)"""

print(len(col3))

4115

In [ ]:
differences_x = []
differences_y = []

filename = "/Users/adamafaal-refaee/Desktop/Desktop-Win/codeing/projects/machine_learning/handmarks/data/high_5.csv"

columns = ["Cycle", "Plane"] + [f"Landmark #{i+1} - #{i+2}" for i in range(20)]

if not os.path.exists(filename):
    df = pd.DataFrame(columns=columns)
    df.to_csv(filename, index=False)


landmarks_per_cycle = 21
total_cycles = len(col3) // landmarks_per_cycle

for c in range(total_cycles):

    start = c * landmarks_per_cycle
    end = start + landmarks_per_cycle

    differences_x = []
    differences_y = []

    for i in range(start, end - 1):
        diff_x = int(col3[i]) - int(col3[i+1])
        diff_y = int(col4[i]) - int(col4[i+1])
        differences_x.append(diff_x)
        differences_y.append(diff_y)

    cycle_number = c + 1

    row_x = [cycle_number, "x"] + differences_x
    row_y = [cycle_number, "y"] + differences_y

    df_append = pd.DataFrame([row_x, row_y], columns=columns)
    df_append.to_csv(filename, mode="a", header=False, index=False)

In [ ]:
#test run on first columns

avg_data = "/Users/adamafaal-refaee/Desktop/Desktop-Win/codeing/projects/machine_learning/handmarks/data/average.csv"
average_dataset = pd.read_csv(avg_data)
every_other = average_dataset["Landmark 1 - 2"].iloc[::3]
average_total_x1 = average_dataset["Landmark 1 - 2"].iloc[::2].mean()

ranges_of_diffs = []

for index, value in every_other.items():
    try:
        lowest
    except NameError:
        lowest = value
        print(f"New low: {value}")
    else:
        if float(value) < float(lowest):
            lowest = value
            print(f"New low: {value}")

for index, value in every_other.items():
    try:
        highest
    except NameError:
        highest = value
        print(f"New high: {value}")
    else:
        if float(value) > float(highest):
            highest = value
            print(f"New high: {value}")
ranges_of_diffs.append((f" {lowest},{highest} "))
print(ranges_of_diffs)    

#for index, row in average_dataset.iterrows():
#    selected_values = row[2:]  
#first_row = row.iloc[2]
#print(first_row)

#for column_name in average_dataset.columns[2:]:
 #   row = average_dataset[column_name]
#print(average_dataset.columns[2:])

ValueError: could not convert string to float: 'x'

In [ ]:
#attempt on all columns (failed)

for i in average_dataset.columns:
    lowest = None
    highest = None
    for j in average_dataset[i].iloc[::2]:
        try:
            lowest
        except NameError:
            lowest = j
            print(f"New low: {j}")
        else:
            if float(j) < float(lowest):
                lowest = j
                print(f"New low: {j}")
    for k in average_dataset[i].iloc[::2]:
        try:
            highest
        except NameError:
            highest = k
            print(f"New high: {k}")
        else:
            if float(k) > float(highest):
                highest = k
                print(f"New high: {k}")
    print(f"Lowest: {lowest}, Highest: {highest}")
    
    ranges_of_diffs.append((lowest, highest))
    print(ranges_of_diffs)

Lowest: 1, Highest: 195
[' 102,108 ', ' 1,195 ', ' 1,195 ', ' 1,195 ']

ValueError: invalid literal for int() with base 10: 'x'

In [ ]:
# attempt on all columns (failed) - resets lowest and highest for each column
for i in average_dataset.columns:
    lowest = None
    highest = None
    for j in average_dataset[i].iloc[::2]:
        if lowest is None or float(j) < float(lowest):
            lowest = j
            print(f"New low: {j}")
    for k in average_dataset[i].iloc[::2]:
        if highest is None or int(k) > int(highest):
            highest = k
            print(f"New high: {k}")
    print(f"Lowest: {lowest}, Highest: {highest}")
    ranges_of_diffs.append((f" {lowest},{highest} "))
    print(ranges_of_diffs)

New low: 1
New high: 1
New high: 2
New high: 3
New high: 4
New high: 5
New high: 6
New high: 7
New high: 8
New high: 9
New high: 10
New high: 11
New high: 12
New high: 13
New high: 14
New high: 15
New high: 16
New high: 17
New high: 18
New high: 19
New high: 20
New high: 21
New high: 22
New high: 23
New high: 24
New high: 25
New high: 26
New high: 27
New high: 28
New high: 29
New high: 30
New high: 31
New high: 32
New high: 33
New high: 34
New high: 35
New high: 36
New high: 37
New high: 38
New high: 39
New high: 40
New high: 41
New high: 42
New high: 43
New high: 44
New high: 45
New high: 46
New high: 47
New high: 48
New high: 49
New high: 50
New high: 51
New high: 52
New high: 53
New high: 54
New high: 55
New high: 56
New high: 57
New high: 58
New high: 59
New high: 60
New high: 61
New high: 62
New high: 63
New high: 64
New high: 65
New high: 66
New high: 67
New high: 68
New high: 69
New high: 70
New high: 71
New high: 72
New high: 73
New high: 74
New high: 75
New high: 76
New high: 77
New high: 78
New high: 79
New high: 80
New high: 81
New high: 82
New high: 83
New high: 84
New high: 85
New high: 86
New high: 87
New high: 88
New high: 89
New high: 90
New high: 91
New high: 92
New high: 93
New high: 94
New high: 95
New high: 96
New high: 97
New high: 98
New high: 99
New high: 100
New high: 101
New high: 102
New high: 103
New high: 104
New high: 105
New high: 106
New high: 107
New high: 108
New high: 109
New high: 110
New high: 111
New high: 112
New high: 113
New high: 114
New high: 115
New high: 116
New high: 117
New high: 118
New high: 119
New high: 120
New high: 121
New high: 122
New high: 123
New high: 124
New high: 125
New high: 126
New high: 127
New high: 128
New high: 129
New high: 130
New high: 131
New high: 132
New high: 133
New high: 134
New high: 135
New high: 136
New high: 137
New high: 138
New high: 139
New high: 140
New high: 141
New high: 142
New high: 143
New high: 144
New high: 145
New high: 146
New high: 147
New high: 148
New high: 149
New high: 150
New high: 151
New high: 152
New high: 153
New high: 154
New high: 155
New high: 156
New high: 157
New high: 158
New high: 159
New high: 160
New high: 161
New high: 162
New high: 163
New high: 164
New high: 165
New high: 166
New high: 167
New high: 168
New high: 169
New high: 170
New high: 171
New high: 172
New high: 173
New high: 174
New high: 175
New high: 176
New high: 177
New high: 178
New high: 179
New high: 180
New high: 181
New high: 182
New high: 183
New high: 184
New high: 185
New high: 186
New high: 187
New high: 188
New high: 189
New high: 190
New high: 191
New high: 192
New high: 193
New high: 194
New high: 195
Lowest: 1, Highest: 195
[' 1,195 ', ' 1,195 ']
New low: x

ValueError: could not convert string to float: 'x'